
.project
{
    width:60%;
    margin:auto;
}

.project img
{
    width:100%;
    border: solid white 3px;
}

.projectName
{
    color:white;
    font-size:2.5em;
}

.project-description
{
    color:white;
    font-size:1.4em;
}
.button-container button
{
    font-size:1.3em;
    padding:5px;
    margin-top:20px;
}
.button-container
{
    margin-bottom:80px;
}

@media only screen and (max-width: 1024px)
{
    .project
    {
        width: 90%;
    }

    .projectName
    {
        color:white;
        font-size:1.5em;
    }

    .project-description
    {
        color:white;
        font-size:1em;
    }

    .button-container button
    {
        font-size:0.7em;
        padding:5px;
        margin-top:15px;
    }
}